/*Skeleton stuff */


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 100%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 100%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; }


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0; }


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #1EAEDB; }
a:hover {
  color: #0FA0CE; }


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}



body {
    font-family: 'Owald', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    padding: 0 0px;
    min-height: 80px;
    background-color: rgba(255, 255, 255, 0.75);
    display: block;
    text-align: center;
    position: relative;
    /*z-index: 100;*/
}

/*header a i {
    display: inline-block;
    color: #000;
    font-size: 30px;
    margin-right: 25px;
    transition: color 1s ease-in-out;
}

header i {
    padding-right: 20px;
}

header i:last-of-type {
    margin-right:0;
}

header a i:hover {
    color: #ccc;
}*/

.media {
    display: block;
    float: right;
    margin: -20px 2.5% 0 0;
    padding: 0;

}

.quotes {display: none;}
.poet {
    font-weight: 300;
    font-size: 80%;
}
.branding {
    position: relative;
    margin: 10px 0 0 2.5%;
    float: left;
}

.wrapper {
    width: 95%;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 auto;
}

nav ul {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    position: relative;
    /*z-index: 999;*/
}

nav li {
    margin: 0 0 0 25px;
    padding: 25px 0 0 0;
    list-style: none;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

nav li:first-of-type {
    margin-left: 0;
}



nav a {
    text-decoration: none;
    color: #000;
    border-bottom: 3px solid #000;
    transition: color 1s ease-in-out;
    padding-bottom: 4px;
}

nav a:hover {
    border-bottom: 3px solid #ccc;
}

.hamburber {
    display: none;
}



.sample_pallette {
    background-color: #fe5f64; /*RED*/
    background-color: #4cd6bc; /*TURQ*/
    background-color: #fa715e; /*ORANG*/
    background-color: #4bb5e9; /*BLUE*/
    background-color: #4DB2E8; /*BLUE2*/
    background-color: #A956F0; /*MAGENTA*/
    background-color: #EFCA46; /*RED*/
}

section {
    margin: 0px 0;
    padding: 100px 50px ;
}

.row {
    padding: 12em 2em;
}

.red {
    background-color: #fe5f64;
}

.bg1 {
    background-image: url("../images/bg1.gif");
    background-repeat: none;
    background-position: top;
    height: 283px;
    position: relative;
    z-index: 10;
}

.sail {
    background-image: url("../images/sail.gif");
    background-repeat: no-repeat;
    background-position: right;
}

.blue {
    background-color: #4bb5e9;
}

.turq {
    background-color: #4cd6bc;
}

.magenta {
    background-color: #A956F0;
}

.gold {
    background-color: #EFCA46;
}





.right {
    float: right;
}

/*Text styles ==============*/

h1 {
    background-color: #000;
    text-transform: uppercase;
    left: 60px;
    z-index: 10;
    padding: 20px;
    color: #fff;
    font-weight: 600;
}

h3 {
    color: #fff;
    font-weight: 700;
}

.hero {
    width: 50%;
}

/*==========================
SIDE BAR
=============================*/

.sidebar {
    background-color: rgba(0, 0, 0, .75);
    margin-right: 2.5%;
    text-align: left;
    position: fixed;
    top: 80px;
    right: 0;
    bottom: 0;
    width: 30%;
    overflow: hidden;
    transition: width .4s ease-in;
}

.sidebar-hidden {
    width: 0;
}

i {
    color: #000;
    font-size: 40px;
    position: fixed;
    z-index: 999;
    right: 45px;
    top: 20px;
    cursor: pointer;
    transition: all 1s ease;
}

.navicon {
    margin:0;
    padding: 0;
    display: absolute;
    color: #000;
    float: right;
    top: 10px;
    right: 10px;
}

.sidebar ul {
    width: 100%;
    padding: 80px 40px;
    box-sizing: border-box;
}

.nav-item {
    list-style: none;
    font-size: 1.4em;
    color: #fff;
    margin: 0 0 10px 0;
}

.nav-item a {
    color: #fff;
    text-decoration: none;
}

/*==========================
Shared Swipe Styles
=============================*/

.swipe-box {
    background-color: rgb(0, 0, 0);
    position: fixed;
    z-index: 10;
    top: 80px;
    left: 2.5%;
    right: 2.5%;
    bottom: 0;
    overflow: hidden;
    opacity: 0;
}

/*==========================
Swipe page left to right
=============================*/

.swipe {
    transition: left .5s ease-in;
    -webkit-transition: left .5s; /* Safari */
}

.swipe-hidden {
    right: 2.5%;
    left: 100%;
}

/*==========================
Swipe page right to left
=============================*/
.swiper {
    transition: right .5s ease-in, opacity 2s ease-in;
    -webkit-transition: right .5s ease-in, opacity 2s ease-in;
}

.swiper-hidden {
    opacity: 1;
    right: 100%;
}

.bgDesign {
    background-image: 'images/bg1.gif';
    background-repeat: none;
    background-color: #EFCA46;
    transition: background-color 2s ease-in-out;
}

.bgStuff {
    background-image: 'images/bg1.gif';
    background-repeat: no-repeat;
    background-color: #A956F0;
    transition: all 2s ease-in-out;
}

.button {
    border: 4px solid #fff;
    border-radius: 60px;
    padding: 25px 80px;
    line-height: 10px;
    transition: color 2s ease-in;
}

.button:hover {
    background-color: #fff;
}

/* ===========================
FORM STUFF 
*/

.wrap {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.grid-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.col-third {
  width: 32%;
}

.col-half {
  width: 49.2%;
}

.vertical-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap:  wrap;
      flex-wrap:  wrap;
}

/* ----------------------------------------
Buttons
------------------------------------------- */
button {
  cursor: pointer;
  outline: 0;
  border: 2px solid #44545E;
  color: #44545E;
  padding: 8px 25.5px;
  padding: 8px 1.7rem;
  background-color: transparent;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12.299px;
  font-size: .82rem;
  letter-spacing: 1.2px;
  letter-spacing: .08rem;
  transition: all .3s ease-in-out;
}

button:hover {
  background-color: #44545E;
  color: white;
  font-weight: 600;
}

/* ----------------------------------------
Forms
------------------------------------------- */

#contact {
  padding-top: 2rem;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

form button {
  width: 100%;
}

textarea {
  width: 100%;
  display: block;
}

input, textarea {
  border: 2px solid #44545E;
  margin-bottom: 12px;
  margin-bottom: .8rem;
  padding: 10px 10px;
  outline: 0;
}

::-webkit-input-placeholder {
   color: #7C878E;
   text-transform: uppercase;
   letter-spacing: 0.75px;
   letter-spacing: .05rem;
   font-size: 12.299px;
   font-size: .82rem;
   font-weight: 600;
}

:-moz-placeholder { /* Firefox 18- */
   color: #7C878E;
   text-transform: uppercase;
   letter-spacing: 0.75px;
   letter-spacing: .05rem;
   font-size: 12.299px;
   font-size: .82rem;
   font-weight: 600;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #7C878E;
   text-transform: uppercase;
   letter-spacing: 0.75px;
   letter-spacing: .05rem;
   font-size: 12.299px;
   font-size: .82rem;
   font-weight: 600;
}

:-ms-input-placeholder {  
   color: #7C878E;
   text-transform: uppercase;
   letter-spacing: 0.75px;
   letter-spacing: .05rem;
   font-size: 12.299px;
   font-size: .82rem;
   font-weight: 600; 
}

/* ----------------------------------------
Error Styles
------------------------------------------- */
.form-group input,
.form-group:last-of-type {
  width: 100%;
}

.error-message {
  margin: -8px 0 12px;
  text-align: left;
  font-size: .9rem;
  color: #ED5254;
  display: none;
}

.error {
  border: 2px solid #ED5254;
}

/* ----------------------------------------
media queries form elements
------------------------------------------- */
@media only screen and (max-width: 790px) {
  nav a {
    padding: .2rem 2rem;
  }
  .col-third {
    width: 100%;
  }
  .articles button {
    margin-top: .5rem;
  }

  .col-third img {
    display: block;
    margin: 3rem auto 1rem;
  }

  .col-third h3 {
    margin-bottom: .5rem;
  }

  .col-third:first-of-type img {
    margin-top: 0;
  }

}

@media only screen and (max-width: 560px) {
  html {
    font-size: 14px;
  }
  .one-half {
    width: 100%;
  }
}

/*==========================
Gallery
*/

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

.gallery img {
  width: 80px;
  padding: 25px;
  filter: drop-shadow(2px 2px 3px grey);
  transition: color 1.5s ease-in-out;
}

.gallery img:hover {
  background-color:#EFCA46;
  opacity: .85;
}

/* image caraousel stuuff
  ==============================*/
  /* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}




